/* General Font Style */
html {
   background: #5DADE2;
    background-size: 100% 100%;  
}
h1 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
    margin-left: 70px;
    margin-right: 70px;
    display: block;
}

h2 {
    font-size: 1.5em;
}

.row-header {
    background: black;
    width: 60%;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 100%;
}

.logo {
    float:left;
    height: 140px;
    vertical-align: middle;
}

.logo-strip {
    padding: 1em;
    width: 100%;
    font-size: 3em;
    color: white;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 3px grey;
}

.container {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    height: auto;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.row {
    background: white;
    width: 60%;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 100%;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    font-family: 'Allerta', sans-serif;
}

/* Button */

.button {
  border-radius: 4px;
  background-color: #5DADE2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 50px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Dropdown Button */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #CCD1D1}

.dropdown:hover .dropdown-content {
    display:inline-block;
}

/* Form */

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: /*2px solid #008CBA*/ none;
    border-bottom: 2px solid black;
    border-radius: 4px;
    font-size: 1em;
    /*background-color: white;
    background-repeat: no-repeat; 
    padding: 12px 20px 12px;  */
    padding: 1em;

}

label {
    font-size: 1.5em; 
}

/* Checkbox */
/*****checkbox**/
.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none;
}
.collapse + form{
  display: inline-block;
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
#checkbox{
  margin-top: 2%;
}
#checkbox2{
  margin-top: 2%;
}
#checkbox3{
  margin-top: 2%;
}
.qwe{
  text-align: center;
}






