/* General Font Style */
html {
   background: #5DADE2;
    background-size: 100% 100%;  
}
@font-face {
  font-family: 'Allerta';
  src: url('../fonts/Allerta-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}
h1 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

.row-banner {
    background: black;
    width: 60%;
    display: flex;
    padding: 1em;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.responsive-img {
   max-width: 100%;
   max-height: 100%; 
}

.container {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    height: auto;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.row {
    background: white;
    width: 50%;
    display: flex;
    padding: 1em;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.col-12 {
    width: 100%;
    font-family: 'Allerta', sans-serif;
}

.foDesign {
    display: block;
    padding-top: 1em;
}

/* Button */

.button {
  border-radius: 4px;
  background-color: #5DADE2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 1em;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 50px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 4px;
    padding: 12px 20px 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color:whitesmoke; 
     text-decoration:none; 
     cursor:pointer;  
}
a:visited 
{
    text-decoration: none; 
    color: black;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}


/* Form */

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px;
}

input[type=date] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px;
}

label {
    font-size: 1.5em; 
}

/* Checkbox */
.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none;
}
.collapse + form{
  display: block;
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
#checkbox{
  margin-top: 2%;
}
#checkbox2{
  margin-top: 2%;
}
#checkbox3{
  margin-top: 2%;
}

/* Media Queries */

/* For mobile phones: */
@media only screen and (min-device-width : 320px) {
    body {
        padding-left: 0.25em;
        padding-right: 1.45em;
        overflow-x: hidden;
    }
    h1 {
        text-align: left;
        font-size: 1.5em;
    }
    label {
        font-size: 1em;
    }
    td {
        font-size: 15px;
        padding-bottom: 0.5em;
    }
    .row {
        width: 95%;
        height: 100%;
    }
    .row-banner{
        width: 95%;
        height: 30%;
    }
    .row-banner img {
        height: 100px;
    }
    .button {
        width: 250px;
    }
    .center {
        width: 100%;
    }
}

/* For Tablets */
@media only screen and (min-width:321px) and (max-width:768px) {
    body {
        padding: 1em;
        overflow-x: hidden;
    }
    label {
        font-size: 1em;
    }
    td {
        font-size: 15px;
        padding-bottom: 0.5em;
    }
    .row {
        width: 90%;
        height: 100%;
    }
    .row-banner{
        width: 90%;
        height: 30%;
    }
    .row-banner img {
        height: 100px;
    }
}
