/* General Font Style */
body {
   background: #5DADE2;
    background-size: 100% 100%;  
}
h1 {
    font-size: 2em;
    font-family: 'Fredoka One', cursive;
}

h2 {
    font-size: 1.5em;
}

.row-banner {
    background: black;
    width: 60%;
    display: flex;
    padding: 1em;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.responsive-img {
   max-width: 100%;
   max-height: 100%; 
}

.container {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    height: auto;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.row {
    background: white;
    width: 60%;
    display: flex;
    padding: 1em;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.col-12 {
    width: 100%;
    font-family: 'Allerta', sans-serif;
}

/* Button */

.button {
  border-radius: 4px;
  background-color: #5DADE2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 50px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Dropdown Button */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #CCD1D1}

.dropdown:hover .dropdown-content {
    display:inline-block;
}

/* Form */

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: /*2px solid #008CBA*/ none;
    border-bottom: 2px solid black;
    border-radius: 4px;
    font-size: 1em;
    /*background-color: white;
    background-repeat: no-repeat; 
    padding: 12px 20px 12px;  */
    padding: 1em;

}

label {
    font-size: 1.5em; 
}

/* Checkbox */
/*****checkbox**/
.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}

/* Media Queries */

/* For mobile phones: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 1em;
        overflow-x: hidden;
    }
    .row {
        width: 95%;
        height: 100%;
    }
    .row-banner{
        width: 95%;
        height: 30%;
    }
    .row-banner img {
        height: 100px;
    }  
}

/* For Tablets */
@media only screen and (min-width:321px) and (max-width:768px) {
    body {
        padding: 1em;
        overflow-x: hidden;
    }
    .row {
        width: 90%;
        height: 100%;
    }
    .row-banner{
        width: 90%;
        height: 30%;
    }
    .row-banner img {
        height: 100px;
    }
}