/* General Font Style */
html {
   background: #336699;
    background-size: 100% 100%;  
}
@font-face {
  font-family: 'Allerta';
  src: url('../fonts/Allerta-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}
h1 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    border-bottom: 1px solid black;
}

h2 {
    font-size: 1.5em;
}

.row-banner {
    background: black;
    width: 60%;
    display: flex;
    padding: 1em;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.responsive-img {
   max-width: 100%;
   max-height: 100%; 
}

.container {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    height: auto;
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.row {
    background: white;
    width: 50%;
    display: flex;
    padding: 1em;
    margin: 3px 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

.col-12 {
    width: 100%;
    font-family: 'Allerta', sans-serif;
}

.col-12, a{
  font-family: 'Allerta', sans-serif;
  font-size: 20px;
  padding: 20px;
}

.foDesign {
    display: block;
    padding-top: 1em;
}

.reason {
    display: none;
}

#violations {
    display: none;
}

#studInfo {
    display: none;
}

/* Button */

.button {
  border-radius: 4px;
  background-color: #336699;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 1em;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
    background-color: grey;
    color: white;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 4px;
    padding: 12px 20px 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
    border-radius: 4px;
    padding: 12px 20px 12px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
     margin-right: 16px;
    display: inline-block;
}

.button2:hover {
    background-color: #555555;
    color: white;
}

#submit {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color:whitesmoke; 
     text-decoration:none; 
     cursor:pointer;  
}
a:visited 
{
    text-decoration: none; 
    color: black;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#searchBy {
    background-color: #336699;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid #555555;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#enter {
    margin-top: 20px;
}

#view {
     margin-top: 20px;
}

#back {
     margin-top: 20px;
}

#submit {
     margin-top: 20px;
}
table#tbl {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    border: solid 1px whitesmoke;
    padding: 1px;
}

th {
    border: solid 1px whitesmoke;
    text-align: left;
    background-color: #336699;
    color: white;
    font-size: 16px;
    padding: 1px;
}


/* Form */

input[type=radio] {
    background-color: aquamarine;
    width: 18px; 
    height: 18px;
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
}


input[type=checkbox] {
    width: 25px; 
    height: 25px;
    font-size: 80px;
    margin: 10px;
    padding: 10px;
    display:inline-block;
    overflow:hidden;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px;
    margin-top: 20px;
}

input[type=date] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px;
}

label {
    font-size: 1.5em; 
}

textarea {
    height: 10em;
    width: 25em;
    border: 2px solid #008CBA;
    border-radius: 4px;
}

/* Checkbox */
.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none;
}
.collapse + form{
  display: block;
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
#checkbox{
  margin-top: 2%;
}
#checkbox2{
  margin-top: 2%;
}
#checkbox3{
  margin-top: 2%;
}

/* Media Queries */

/* For mobile phones: */
@media only screen and (min-device-width : 320px) {
    body {
        padding-left: 0.25em;
        padding-right: 1.45em;
        overflow-x: hidden;
    }
    h1 {
        text-align: left;
        font-size: 1.5em;
    }
    label {
        font-size: 1em;
    }
    input[type=radio] {
        font-size: 0.5em;
    }
    td {
        font-size: 15px;
        padding-bottom: 0.5em;
    }
    textarea {
        width: 15em;
        height: 15em;
    }
    .reason td {
        padding-left: 3.4em;
    }
	.info {
        font-size: 0.75em;
        margin-left: 1em;
    }
    #studInfo {
        margin-top: 1em;
    }
    .row {
        width: 95%;
        height: 100%;
    }
    .row-banner{
        width: 95%;
        height: 30%;
    }
    .row-banner img {
        height: 100px;
    }
    .button {
        width: 250px;
    }
    .center {
        width: 100%;
    }
}

/* For Tablets */
@media only screen and (min-width:321px) and (max-width:768px) {
    body {
        padding: 1em;
        overflow-x: hidden;
    }
    label {
        font-size: 1em;
    }
    td {
        font-size: 15px;
        padding-bottom: 0.5em;
    }
    textarea {
        width: 15em;
        height: 10em;
    }
    .row {
        width: 90%;
        height: 100%;
    }
    .row-banner{
        width: 90%;
        height: 30%;
    }
    .row-banner img {
        height: 100px;
    }
}
